.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 300px;
    padding: 10px 0;
    border-right: 1px solid var(--inverted-bg-color);
    transition: 0.5s;
}

.switchers {
    display: flex;
    flex-direction: column;
}

.collapsed {
    width: 80px;
}
