.app.light {
    --bg-color: #fff;
    --primary-color: #000;
    --secondary-color: #232323;
    --links-color: #002c9d;
    --inverted-bg-color: #1e1e1e;
    --inverted-primary-color: #0bc933;
    --inverted-secondary-color: #069d25;
    --inverted-links-color: #fff;
}
