.Select {
  background: none;
  cursor: pointer;
  outline: none;
}

.default {
  background: var(--bg-color);
  color: var(--inverted-bg-color);
  border-color: var(--inverted-bg-color);;
}

.clear {
}