.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbarLink {
    color: var(--inverted-links-color);
    font-weight: bold;
    margin-right: 15px;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

